{% extends "base.html.twig" %}
{% block title %}Tabel{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">
            <span class="fa fa-medkit text-danger"></span>
            HealthOne
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a  class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item active">
                    <a  class="nav-link" href="{{ path('table') }}">Medicijnen</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Inloggen</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center"><span class="fa fa-capsules text-danger"></span> Medicijnen tabel ({{ medicines|length }})</h1>
        <table class="table table-bordered">
            <tr>
                <th>medicijn</th>
                <th>werking</th>
                <th>bijwerking</th>
                <th>prijs</th>
                <th>verzekerd</th>
            </tr>
            {% for medicine in medicines%}
                <tr>
                    <td>{{ medicine.naam }}</td>
                    <td>{{ medicine.werking }}</td>
                    <td>{{ medicine.bijwerking }}</td>
                    <td>€{{ medicine.prijs }}</td>
                    <td>
                        {% if medicine.verzekerd %}
                            Verzekerd
                        {% else %}
                            Niet verzekerd
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}