{% extends "base.html.twig" %}
{% block body %}
    <h1>door/{{ title }}</h1>
    <h2>Comments ({{ comments|length }})</h2>
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment }}
            </li>
        {% endfor %}
        <li>
            I like {{ medicine.naam }} lollolol
        </li>
    </ul>
    <a href="{{ path('homepage') }}">go back</a>
{% endblock %}